header {
  background-color: var(--primary-bg-medium);
  color: white;
  text-align: center;
}

.schemas-container {
  display: flex;
  margin: 10px;
  min-height: 91vh;
}

.schemas-container-col-view {
  width: 97%;
}

.schemas-container-col-view2 {
  margin-right: 10px;
}

.schemas-container-col-view3 {
  width: 55%;
}

/* Output text area */
.output-text {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  width: 97%;
  height: 550px;
  overflow: scroll;
  resize: none;
}

/* Dev View */

.dev-view-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 33% 33% 33%;
}

.dev-view-grid div {
  margin: 10px;
}
