/* Tabs Component styles */
.tabs {
  display: flex;
  flex-wrap: wrap;
}

.tab {
  padding: 10px;
  cursor: pointer;
  margin: 5px;
}

.tab.active {
  background-color: var(--primary-bg-light);
}

.tab:hover {
  color: var(--text-off-white);
}
