/* Tabs Component styles */
.tabs {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.tab {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 5px;
  background-color: #1783ff;
}

.tab.active {
  background-color: #5ea9ff;
  color: white;
}

.tab:hover {
  color:  rgb(221, 221, 221);
}
