.property-table {
  border-collapse: collapse;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.property-table th,
.property-table td {
  padding: 10px;
  text-align: left;
}

.property-table th {
  background-color: var(--primary-bg-dark);
  color: white;
  text-align: center;
}

.even-row {
  background-color: var(--primary-bg-very-light1);
}

.odd-row {
  background-color: var(--primary-bg-very-light2);
}

.radio-column {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.property-table td input[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 4px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.delete-btn {
  background-color: #dc3545;
}

.delete-btn:hover {
  background-color: #c82333;
}
