.note-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.note-item {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.note-item.selected {
  background-color: #e0f7ff;
  border-left: 5px solid #3ca1ff;
}

.note-item:hover {
  background-color: #f9f9f9;
}

.note-title-preview {
  font-weight: bold;
}

.note-preview {
  color: rgb(35, 35, 35);
  font-size: 14px;
}

.note-date-preview {
  font-size: 12px;
  text-align: right;
}
