/* App-wide global styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #e9e9e9;
}

:root {
  --primary-bg-medium: #1783ff;
  --primary-bg-dark: #1571db;
  --primary-bg-light: #5ea9ff;
  --primary-bg-very-light1: #b3d6ff;
  --primary-bg-very-light2: #83bdff;
  --white: #faf0e6;
}

.my-card {
  background-color: #fdfdfd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
}

.my-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

h1 {
  margin: 2px;
  padding: 2px;
}

h3 {
  font-size: 12px;
  text-align: center;
  color: #797979;
  margin-top: -5px;
  margin-bottom: 4px;
}

div {
  border-radius: 5px;
}

button {
  background-color: var(--primary-bg-medium);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 900;
  font-size: 20px;
  border-radius: 5px;
}

button:hover {
  background-color: var(--primary-bg-dark);
  color: rgb(245, 245, 245);
}
