
.notes-container-col-sidebar {
  width: 10%;
  background-color: #1783ff;
  color: white;
  margin-right: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.notes-container-col-sidebar:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.notes-container-col-sidebar button {
  border: 0px;
  padding: 10px;
  width: 100%;
  text-align: left;
  border-bottom: 2px solid #fdfdfd;
  font-weight: 900;
  font-size: 20px;
  border-left: 10px solid #5ea9ff;
}


.notes-container-col-sidebar button.active {
  border-left: 10px solid #fdfdfd;
  background-color:#5ea9ff;
}

.notes-container-col-sidebar button:hover,
.notes-container-col-sidebar button.active:hover {
  border-left: 10px solid rgb(22, 150, 255);
  background-color: #1571db;
}
