.schemas-container-col-sidebar {
  margin-right: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  transition: width 0.3s ease;
  height: 100%;
}

.schemas-container-col-sidebar.collapsed {
  width: 50px;
}

.schemas-container-col-sidebar.expanded {
  width: 250px;
}

.schemas-container-col-sidebar:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.schemas-container-col-sidebar button {
  border: 0px;
  padding: 10px;
  width: 100%;
  text-align: left;
  border-bottom: 2px solid #fdfdfd;
  font-weight: 900;
  font-size: 20px;
  white-space: nowrap;
  background-color: var(--primary-bg-almost-very-dark);
}

.schemas-container-col-sidebar.collapsed button {
  text-align: center;
  border-left: none;
  font-size: 25px;
}

.schemas-container-col-sidebar button.active {
  border-left: 10px solid #fdfdfd;
  background-color: var(--primary-bg-light);
}

.schemas-container-col-sidebar.collapsed button.active {
  border-left: none;
}

.schemas-container-col-sidebar button:hover {
  border-left: 10px solid var(--primary-bg-light);
}

.schemas-container-col-sidebar button.active:hover {
  border-left: 10px solid white;
}

.schemas-container-col-sidebar.collapsed button:hover,
.schemas-container-col-sidebar.collapsed button.active:hover {
  border-left: none;
}
