.schema-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.schema-item {
  background-color: var(--primary-bg-very-dark);
  border: 1px solid var(--text-off-grey);
  padding: 15px;
}

.schema-item.selected {
  background-color: var(--primary-bg-medium);
  border: 5px solid var(--text-off-grey);
  color: white;
}

.schema-item:hover {
  background-color: var(--primary-bg-light);
}

.schema-title-preview {
  font-weight: bold;
}

.schema-preview {
  color: var(--text-off-white);
}

.schema-date-preview {
  text-align: right;
}
